.card{
    position: relative;
    border-radius: 24px;
    background-color: #fff;
    max-width: 500px;
    min-width: 360px;
    margin: 8px;
}

.card .name {
    position: absolute;
    top: -50px;
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.card .image {
    position: absolute;
    top: -60px;
    right: 0;  
    width: 120px;  
}

.card .content {
    margin-top: 40px;
    padding: 0 20px;
}